<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <title>{% block title %}MMinerals: A magnificent catalog of minerals{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="Chris Howell">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,500' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Cousine' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
</head>
<body>
    {% block content %}{% endblock %}
    <div class="minerals__random">
        <a class="minerals__anchor" href="{% url 'random_mineral' %}">Show random mineral</a>
    </div>
</body>
</html>