{% extends 'base.html' %}
{% load static %}
{% block title %}{{ mineral.name }} | {{ block.super }}{% endblock %}

{% block mineral_grid %}grid-60 grid-push-30{% endblock %}

{% block side_grid %}grid-25 grid-pull-60{% endblock %}

{% block content %}
    <div class="grid-100 mineral__container">
      <h1 class="mineral__name">{{ mineral.name }}</h1>
      <div class="mineral__image-bg">
        <img class="mineral__image" src="{% get_media_prefix %}{{ mineral.image_path }}">
        <p class="mineral__caption">{{ mineral.image_caption }}</p>
      </div>
      <div class="mineral__table-container">
        <table class="mineral__table">
        {% for field, value in mineral.get_fields %}
            {% if value %}
          <tr>
            <td class="mineral__category">{{ field|title }}</td>
            <td>{{ value|safe }}</td>
          </tr>
            {% endif %}
        {% endfor %}
        </table>
      </div>
    </div>
{% endblock %}