{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
    <div class="bounds">
        {% include 'logo.html' %}
        <div class="grid-100">
        {% if mineral_list %}
          <ul class="minerals__container">

            {% for mineral in mineral_list %}
                <li class="minerals__item">
                    <a class="minerals__anchor" href="{% url 'detail' mineral.pk %}">
                        {{ mineral.name }}
                    </a>
                </li>

            {% endfor %}
          </ul>
          {% else %}
              <h2>Oops, No minerals have been added!</h2>
          {% endif %}

        </div>
      </div>
{% endblock %}