{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
    <div class="bounds">
        {% include 'logo.html' %}
        <div class="grid-100">
          <ul class="minerals__container">
            <li class="minerals__item">
              <a class="minerals__anchor" href="{% url 'detail' %}">Abelsonite</a>
            </li>
            <li class="minerals__item">
              <a class="minerals__anchor" href="detail.html">Abenakiite</a>
            </li>
            <li class="minerals__item">
              <a class="minerals__anchor" href="detail.html">Abernathyite</a>
            </li>
            <li class="minerals__item">
              <a class="minerals__anchor" href="detail.html">Abhurite</a>
            </li>
            <li class="minerals__item">
              <a class="minerals__anchor" href="detail.html">Abramovite</a>
            </li>
            <li class="minerals__item">
              <a class="minerals__anchor" href="detail.html">Abswurmbachite</a>
            </li>
            <li class="minerals__item">
              <a class="minerals__anchor" href="detail.html">Acanthite</a>
            </li>
            <li class="minerals__item">
              <a class="minerals__anchor" href="detail.html">Achavalite</a>
            </li>
            <li class="minerals__item">
              <a class="minerals__anchor" href="detail.html">Actinolite</a>
            </li>
            <li class="minerals__item">
              <a class="minerals__anchor" href="detail.html">Acuminite</a>
            </li>
            <li class="minerals__item">
              <a class="minerals__anchor" href="detail.html">Adamite</a>
            </li>
            <li class="minerals__item">
              <a class="minerals__anchor" href="detail.html">Adelite</a>
            </li>
            <li class="minerals__item">
              <a class="minerals__anchor" href="detail.html">Admontite</a>
            </li>
            <li class="minerals__item">
              <a class="minerals__anchor" href="detail.html">Aegirine</a>
            </li>
            <li class="minerals__item">
              <a class="minerals__anchor" href="detail.html">Aenigmatite</a>
            </li>
            <li class="minerals__item">
              <a class="minerals__anchor" href="detail.html">Aerinite</a>
            </li>
            <li class="minerals__item">
              <a class="minerals__anchor" href="detail.html">Aerugite</a>
            </li>
            <li class="minerals__item">
              <a class="minerals__anchor" href="detail.html">Afghanite</a>
            </li>
            <li class="minerals__item">
              <a class="minerals__anchor" href="detail.html">Afwillite</a>
            </li>
            <li class="minerals__item">
              <a class="minerals__anchor" href="detail.html">Agardite</a>
            </li>
            <li class="minerals__item">
              <a class="minerals__anchor" href="detail.html">Agrellite</a>
            </li>
            <li class="minerals__item">
              <a class="minerals__anchor" href="detail.html">Agrinierite</a>
            </li>
            <li class="minerals__item">
              <a class="minerals__anchor" href="detail.html">Aheylite</a>
            </li>
            <li class="minerals__item">
              <a class="minerals__anchor" href="detail.html">Aikinite</a>
            </li>
            <li class="minerals__item">
              <a class="minerals__anchor" href="detail.html">Ajoite</a>
            </li>
            <li class="minerals__item">
              <a class="minerals__anchor" href="detail.html">Akatoreite</a>
            </li>
            <li class="minerals__item">
              <a class="minerals__anchor" href="detail.html">Akdalaite</a>
            </li>
            <li class="minerals__item">
              <a class="minerals__anchor" href="detail.html">Akimotoite</a>
            </li>
            <li class="minerals__item">
              <a class="minerals__anchor" href="detail.html">Aksaite</a>
            </li>
            <li class="minerals__item">
              <a class="minerals__anchor" href="detail.html">Aktashite</a>
            </li>
            <li class="minerals__item">
              <a class="minerals__anchor" href="detail.html">Alabandite</a>
            </li>
            <li class="minerals__item">
              <a class="minerals__anchor" href="detail.html">Alamosite</a>
            </li>
            <li class="minerals__item">
              <a class="minerals__anchor" href="detail.html">Alarsite</a>
            </li>
            <li class="minerals__item">
              <a class="minerals__anchor" href="detail.html">Albite</a>
            </li>
            <li class="minerals__item">
              <a class="minerals__anchor" href="detail.html">Albrechtshraufite</a>
            </li>
            <li class="minerals__item">
              <a class="minerals__anchor" href="detail.html">Aldermanite</a>
            </li>
            <li class="minerals__item">
              <a class="minerals__anchor" href="detail.html">Algrodonite</a>
            </li>
            <li class="minerals__item">
              <a class="minerals__anchor" href="detail.html">Aliettite</a>
            </li>
            <li class="minerals__item">
              <a class="minerals__anchor" href="detail.html">Allabogdanite</a>
            </li>
            <li class="minerals__item">
              <a class="minerals__anchor" href="detail.html">Allactite</a>
            </li>
            <li class="minerals__item">
              <a class="minerals__anchor" href="detail.html">Allanite</a>
            </li>
            <li class="minerals__item">
              <a class="minerals__anchor" href="detail.html">Allanpringite</a>
            </li>
            <li class="minerals__item">
              <a class="minerals__anchor" href="detail.html">Alloclasite</a>
            </li>
            <li class="minerals__item">
              <a class="minerals__anchor" href="detail.html">Allophane</a>
            </li>
            <li class="minerals__item">
              <a class="minerals__anchor" href="detail.html">Altisite</a>
            </li>
            <li class="minerals__item">
              <a class="minerals__anchor" href="detail.html">Amakanite</a>
            </li>
            <li class="minerals__item">
              <a class="minerals__anchor" href="detail.html">Amesite</a>
            </li>
            <li class="minerals__item">
              <a class="minerals__anchor" href="detail.html">Amphibole</a>
            </li>
            <li class="minerals__item">
              <a class="minerals__anchor" href="detail.html">Anandite</a>
            </li>
            <li class="minerals__item">
              <a class="minerals__anchor" href="detail.html">Anglesite</a>
            </li>
            <li class="minerals__item">
              <a class="minerals__anchor" href="detail.html">Ankerite</a>
            </li>
            <li class="minerals__item">
              <a class="minerals__anchor" href="detail.html">Annite</a>
            </li>
            <li class="minerals__item">
              <a class="minerals__anchor" href="detail.html">Anorthite</a>
            </li>
            <li class="minerals__item">
              <a class="minerals__anchor" href="detail.html">Antarcticite</a>
            </li>
          </ul>
        </div>
      </div>
{% endblock %}